{% extends "base_generic.html" %}

{% block content %}
    <h1>更新訂單</h1>
    <form method="post">
        {% csrf_token %}
        <h4>訂購人資料:</h4>
        {{ order_form.as_p }}
        <br>
        <h4>訂購:</h4>
        {{ formset.management_form }}
        {% for product, form in products_forms %}
            <p>{{ product.name }}: {{ form.quantity }}</p>
            {% if form.errors %}  
                {% for field in form %}            
                    {{ field.errors }}               
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% if formset.non_form_errors %}
            {{ formset.non_form_errors }}
        {% endif %}
        <input type="submit" value="Submit">
    </form>
    
{% endblock %}